.chat-main  
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        tech
      .main-header__left-box__menber-list
        .main-header__left-box__menber-list__menber
          chikuwapann    
    .main-header__edit-btn
      Edit
  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
          chikuwa
        .message__upper-info__date
          2019/11/12(Tue) 20:09:15
      .message__text
        hayakuowarasetai!!
  .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'